:root{
 --fondo : #081536; 
 --btn_:#5a1bed;
 --btn_hover:#410cbf;
 --card:#0b1d4c;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo);
  font-family: sans-serif;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px; 
  padding: 50px;
  border: 5px solid var(--card);
  border-radius: 25px;
}
.item_header{
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
}
.item_header h1{
  display: block;
  padding: 10px;
  font-size:  45px;
}
.from{
  display: flex;
  justify-content: center;
  align-items: center;
padding: 25px;
}
.input{
  display: inline-block;
  text-transform: capitalize;
  background: var(--fondo);
  border:none;
  max-width: 50%;
  max-height: 50%;
  border-bottom: 2px solid white;
  color:white;
  margin-right: 15px;
  text-align: center;
  font-size: 25px;
  outline: none;
}
button{
    display: inline-block;
    margin-top: 10px;
    width: 120px;
    height: 50px;
    border: 2px solid var(--btn_);
    border-radius: 10px;
    color:white;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    outline: none;
}
button:hover{
    animation: btn_anime 1.2s ease-in-out;
    transition: 2s all ease-in-out;
    background: var(--btn_hover);
    color: aliceblue;
} 

@keyframes btn_anime{
    0%{
        border: none;
    }
    25%{
          border-right:2px solid var(--btn_hover);
    }
    50%{
          border-top:2px solid var(--btn_hover);
    }
    75%{
          border-left:2px solid var(--btn_hover);
    }
    100%{
        border-bottom:2px solid var(--btn_hover);
        
    }
}
.item_body{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 100%;
  height: 100%;
}

.card{

  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--card);
  /*width: 277px;
  height: 365px;*/
  max-width: 100%;
  border-radius: 25px;
  margin: 10px;
  padding: 50px;
  box-shadow: 2px 2px 2px var(--btn_);


}
.card_title{
  padding: 10px;
  display: block;
}
.card_title>p{
  display: inline-block;
  font-size: 50px;
}
.card_title>span{
   display: inline-block;
   font-size: 10px;
   background: var(--btn_);
   padding: 8px;
   border-radius: 50%;
}
.card_time{
  display: block;
}
.card_time>p{
  display: inline-block;
   font-size: 100px;
}
.card_time>span{
  display: inline-block;
   font-size: 40px;
}
.icon{

 display: block; 
}
.icon > .temp-icon{
 display: block;
 max-width: 50%;
 margin-left: 25%;
 filter: invert(100%);


}
.icon > span{
  text-align: center;
 display: block;
 font-size: 22px;

}
.temp_info{
    display: block;
    padding: 10px;
}

.temp_info> span >i{
   padding: 5px;
   
}

.temp_info> span{
    margin: 5px;
   
}

.modal{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
     width: 100%;
    height: 130vh;
    filter: opacity(90%);
    background: #030c24;
    z-index: 1;

}

.modal_container{
    border-radius: 5px;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--btn_);
    width: 270px;
    height: 130px;
}
.modal_body{
   display: block;
   max-width: 100%;
   font-size: medium;
    color:white;
    margin-left: 6%;
    padding: 12px;
}


.modal_dispose{
    display: block;
    width: 100%;
    height: 25px;
    background: var(--btn_);
}

.modal_exit{
    cursor: pointer;
    color:var(--color4);
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
